*.docx
*.png
*.pdf
*.raw
*.zip
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
ADIP_HW1/Project1/x64
ADIP_HW1/Project1/Project1/x64
ADIP_HW2/Project2/x64
ADIP_HW2/Project2/Project2/x64
ADIP_HW2/Project2/Project2/Debug
ADIP_HW3/Project3/x64
ADIP_HW3/Project3/Project3/x64
ADIP_HW3/Project3/Project3/Debug/
ADIP_HW3/raw_to_png_answer
ADIP_HW4/Project4/x64
ADIP_HW4/Project4/Project4/x64
ADIP_HW4/Project4/Project4/Debug
ADIP_HW4/HW4_raw_to_png
ADIP_HW5/HW5_raw_to_png
ADIP_HW6/Project6/x64
ADIP_HW6/Project6/Project6/Debug
ADIP_HW6/HW6_raw_to_png
.XnViewSort